html { font-size: 62.5%; }

body {
  margin: 0;
  font-size: 1.8rem;
  padding: 0;
  font-family: 'Poppins', sans-serif;
}

h1, h2, h3, h4, h5, h6, p { margin: 0; }

section.white {
  background-color: white;
  color: black;
}

section.padded {
  padding-top: 8rem;
  padding-bottom: 8rem;
}

section.hero {
  width: 100%;
  height: 100vh;
  padding-top: 5rem;
  padding-bottom: 5rem;
}
section.hero h1 {
    font-size: 6rem;
    font-weight: 800;
}

section.content .container .row, section.content .container-fluid .row, section.hero, table { padding-top: 3rem; padding-bottom: 3rem; }
section.content .container .row .border-white, section.content .container-fluid .row .border-white { border: 0.1rem solid white; }
section.content .container .row .border-black, section.content .container-fluid .row .border-black { border: 0.1rem solid black; }
section.content .container .row .column-pad, section.content .container-fluid .row .column-pad { padding-top: 2rem; }
.pastevents { margin-bottom: 2rem; }

section.body {  padding-bottom: 3rem; }

.navbar_img {
  height: 6.3rem;
  width: auto;
  padding-left: 1rem;
  padding-right: 1rem;
}

.nav-link:hover {
  color: rgb(71,0,142) !important;
  transition:all .3s ease-out;
  box-shadow:0 -1px 0 0 #fff inset,0 3px 0 0 rgb(224,58,62);
}

.hero_image {
  height: 20rem;
  width: auto;
}

#email:link, .internal_text_link, .internal_text_link:hover,#constitution, #constitution:hover { color:rgb(71,0,142) !important; }
.fb_text_link { color:rgb(224,58,62) !important; }
#links { text-align: center; }
.contact_img:hover {
  transform: scale(.95);
}

.responsiveCal {
  position: relative;
  padding-bottom: 75%;
  height: 0;
  overflow: hidden;
}
.responsiveCal iframe {
  position: absolute;
  top:0;
  left: 0;
  width: 100%;
  height: 100%;
}

.footer {
  display: inline-block;
  font-size: 1.2rem;
  height: auto;
  width: 100%;
  position: fixed;
  right: 0;
  bottom: 0;
  left: 0;
  padding: 1rem;
  background-color: rgb(233,236,239);
  text-align: center;

}
span.line {
  display: inline-block;
  vertical-align: -webkit-baseline-middle;
}

.link_item_box {
  display: flex;
  justify-content: center;
  align-content: center;
  flex-direction: column;
  padding: 0.5rem;
}

th.table_label { background-color: rgb(71,0,142); color: white; }

img.card-img-top { height: 36rem;}


/***** Media Queries *****/

/* Custom, iPhone Retina */
@media (max-width : 320px) {
  html{ font-size: 50%; }

  section.hero {
    height: 95vh !important;
    padding-top: 2rem !important;
    padding-bottom: 2rem !important;
  }
  section.hero h1 {
    font-size: 5rem !important;
  }

  .hero_image { height: 15rem; }

  .footer {
    height: 5vh !important;
    width: 100% !important;
    padding-bottom: 5vh !important;
  }
}

/* Extra Small Devices, Phones */
@media (min-width : 321px) and (max-width : 376px) {
  html{ font-size: 55%; }

  section.hero {
    height: 95vh !important;
    padding-top: 2rem !important;
    padding-bottom: 2rem !important;
  }
  section.hero h1 {
    font-size: 6rem !important;
  }

  .hero_image { height: 15.5rem; }

  .footer {
    height: 5vh !important;
    width: 100% !important;
    padding-bottom: 5vh !important;
  }
}

/* Small Devices, Tablets */
@media (min-width : 377px) and (max-width : 425px) {
  html{ font-size: 57%; }

  section.hero {
    height: 95vh !important;
    padding-top: 2rem !important;
    padding-bottom: 2rem !important;
  }
  section.hero h1 {
    font-size: 5.5rem !important;
  }

  .hero_image { height: 16rem; }

  .footer {
    height: 5vh !important;
    width: 100% !important;
    padding-bottom: 5vh !important;
  }
}


@media (min-width : 426px) and (max-width : 500px) {
  html{ font-size: 60%; }

  section.hero {
    height: 95vh !important;
    padding-top: 2rem !important;
    padding-bottom: 2rem !important;
  }
  section.hero h1 {
    font-size: 6rem !important;
  }

  .hero_image { height: 17rem; }

  .footer {
    height: 5vh !important;
    width: 100% !important;
    padding-bottom: 5vh !important;
  }
}

/* Medium Devices, Desktops */
@media (min-width : 501px) and (max-width : 900px) {
  html{ font-size: 62.5%; }

  section.hero {
    height: 95vh !important;
    padding-top: 2rem !important;
    padding-bottom: 2rem !important;
  }
  section.hero h1 {
    font-size: 6.5rem !important;
  }

  .hero_image { height: 18rem; }

  .footer {
    height: 5vh !important;
    width: 100% !important;
    padding-bottom: 5vh !important;
  }
}

/* Large Devices, Wide Screens */
@media (min-width : 901) and (max-width : 1079) {
  section.hero h1 {
    font-size: 2rem !important;
  }

  .hero_image { height: 18.5rem; }

  section.hero {
    font-size: 1.8rem;
    height: 95vh !important;
    padding-top: 2rem !important;
    padding-bottom: 2rem !important;
  }

  .footer {
    height: 5vh !important;
    width: 100% !important;
    padding-bottom: 5vh !important;
  }
}

/* Large Devices, Wide Screens */
@media (min-width : 1080px) and (max-width : 1200px) {
  section.hero {
    height: 80vh !important;
    padding-top: 2rem !important;
    padding-bottom: 2rem !important;
  }

  .footer {
    height: 5vh !important;
    width: 100% !important;
    padding-bottom: 5vh !important;
  }
}

/* Large Devices, Wide Screens */
@media only screen and (min-width : 1201px){
  section.hero {
    height: 80vh !important;
    padding-top: 2rem !important;
    padding-bottom: 2rem !important;
  }

  .footer {
    height: 5vh !important;
    width: 100% !important;
    padding-bottom: 5vh !important;
  }
}

/* choose when navbar toggles to collapsed */
@media only screen and (min-width : 990px) and (max-width : 1065px) {
  .navbar-header {
      float: none;
    }
    .navbar-left,.navbar-right {
      float: none !important;
    }
    .navbar-toggle {
      display: block;
      border:1px solid red;
    }
    .navbar-collapse {
      border-top: 1px solid transparent;
      box-shadow: inset 0 1px 0 rgba(255,255,255,0.1);
    }
    .navbar-fixed-top {
      top: 0;
      border-width: 0 0 1px;
	  }
    .navbar-collapse.collapse {
      display: none!important;
    }
    .navbar-nav {
      float: none!important;
      margin-top: 7.5px;
	}
	.navbar-nav>li {
      float: none;
    }
    .navbar-nav>li>a {
      padding-top: 10px;
      padding-bottom: 10px;
    }
    .collapse.in{
  		display:block !important;
      border:1px solid red !important;
      overflow:scroll;
	}
}