html { font-size: 62.5%; }

    /* Even smaller devices*/
    @media (max-width: 500px) {
      font-size: 50%;
      section.hero {
        padding-top: 50%;
        padding-bottom: 50%;
      }
      section.hero h1 {
        font-size: 50%;
      }
    }

    /* Extra small devices (portrait phones) */
    @media (min-width: 575.98px) {
        font-size: 55%;
    }

    /* Small devices (landscape phones) */
    @media (min-width: 576px) and (max-width: 767.98px) {
        font-size: 58%;
    }
    /* Medium devices (tablets) */
    @media (min-width: 768px) and (max-width: 991.98px) {
        font-size: 60%;
    }
    /* Large devices (desktops) */
    @media (min-width: 992px) and (max-width: 1199.98px) {
        font-size: 62.5%;
    }
    /* Extra large devices (large desktops) */
    @media (min-width: 1200px) {
        font-size: 62.5%;
    }

body {
  margin: 0;
  font-size: 1.8rem;
  padding: 0;
  font-family: 'Poppins', sans-serif;
  min-height: 40rem;
}

h1, h2, h3, h4, h5, h6, p { margin: 0; }

section.white {
  background-color: white;
  color: black;
}

section.padded {
  padding-top: 8rem;
  padding-bottom: 8rem;
}

#homepage { height: 100h; width: 100%;}

section.hero {
  padding-top: 10rem;
  padding-bottom: 10rem;
}
section.hero h1 {
    font-size: 6rem;
    font-weight: 800;
}

section.content .container .row, section.content .container-fluid .row { padding-top: 3rem; padding-bottom: 3rem; }
section.content .container .row .border-white, section.content .container-fluid .row .border-white { border: 0.1rem solid white; }
section.content .container .row .border-black, section.content .container-fluid .row .border-black { border: 0.1rem solid black; }
section.content .container .row .column-pad, section.content .container-fluid .row .column-pad { padding-top: 2rem; }

section.body {  padding-bottom: 3rem; }

.navbar_img {
  height: 6.3rem;
  width: auto;
  padding-left: 1rem;
  padding-right: 1rem;
}

a:hover:not(#hero_image):not(#email):not(.fb_text_link):not(.contact_link):not(.internal_text_link:link) {
  color: rgb(71,0,142) !important;
  transition:all .3s ease-out;
  box-shadow:0 -1px 0 0 #fff inset,0 3px 0 0 rgb(224,58,62);
}

#email:link, .internal_text_link, .internal_text_link:hover { color:rgb(71,0,142); }
.fb_text_link { color:rgb(224,58,62) !important; }
#links { text-align: center; }
.contact_img:hover {
  transform: scale(.95);
}

.footer {
  font-size: 1.2rem;
  height: 5vh;
  width: 100%;
  min-width: 200px;
  position: fixed;
  right: 0;
  bottom: 0;
  left: 0;
  padding: 1rem;
  background-color: rgb(233,236,239);
  text-align: center;
  vertical-align: -webkit-baseline-middle;
}

#calendar {
  position: absolute;
  width: 100%;
  height: 100%;
}